* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #696363;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(119, 119, 225); 
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.curiosidade {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-left: 5px solid rgb(64, 64, 156);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(128, 126, 126);
}

.curiosidade h2 {
    margin-bottom: 10px;
    color: rgb(33, 65, 65); 
    font-size: 1.8em;
}
      .botao-voltar {
      background-color: rgb(158, 7, 200);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .botao-voltar:hover {
      background-color: rgb(45, 4, 66);
    }
footer {
    background-color: #4B0082; 
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

@media (max-width: 600px) {
    main {
        padding: 5px;
    }

    .curiosidade {
        padding: 10px; 
    }

    header h1 {
        font-size: 2em; 
    }
}
